<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script type="text/javascript" src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
  <div id="root">
  姓：<input type="text" v-model="firstName"><br>
  名：<input type="text" v-model="lastName"><br>
  姓名: <span>{{fullName}}</span>
  </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false 
  
    const vm = new Vue({
      el: "#root",
      data: {
        firstName: '张',
        lastName: '三'
      },
      computed: {
        //完整写法
        // fullName:{
        //   get(){
        //     console.log('get被调用');
        //     return this.firstName  + '-' + this.lastName
        //   },
        //   set(value) {
        //     console.log('set',value);
        //     const arr = value.split('-')
        //     this.firstName = arr[0]
        //     this.lastName = arr[1]
        //     console.log(arr[0]);
        //   }
        // },
        //简写模式，确定了只读不写（读取，修改）才能使用简写模式
         fullName (){
          console.log('get被调用');
          return this.firstName  + '-' + this.lastName
         }
      }
    }) 
</script>
</html>