<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <style>
  
   </style>
   <script type="text/javascript" src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
  <!-- 
				v-for指令:
						1.用于展示列表数据
						2.语法：v-for="(item, index) in xxx" :key="yyy"
						3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）
	-->
  <div id="root">
    <!-- 遍历数组  （常用） -->
    <h2>人员列表</h2>
    <ul>
      <li v-for="(p,index) in persons" :key="index" >
        {{p.name}}--{{p.age}}
      </li>
      <li v-for="(a,b,c) in persons"  >
        {{a}}--{{b}}--{{c}}
      </li>
    </ul>
    <!-- 遍历对象 -->
    <h2>汽车信息</h2>
    <ul>
      <li v-for="(a,b) in cars"  >
        {{a}}--{{b}}
      </li>
      <li v-for="(val,k) in cars" :key="k" >
        {{k}}--{{val}}
        {{val}}--{{k}}
      </li>
    </ul>
    <!-- 遍历字符串 -->
    <h2>测试遍历字符串（用的少）</h2>
    <ul>
      <li v-for="(char,index) in str" :key="index" >
        {{char}}--{{index}}
      </li>
    </ul>
    <!-- 遍历指定次数 -->
    <h2>测试遍历指定次数 （用的少）</h2>
    <ul>
      <li v-for="(image.pngnumber,index) in 6" :key="index" >
        {{number}}--{{index}}
      </li>
    </ul>
  </div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false //阻止 Vue 在启动时 生成生产提示

  const vm = new Vue({
    el: "#root",
    data: {
      persons:[
        {id:'001',name:'张三',age:28},
        {id:'002',name:'李四',age:38},
        {id:'003',name:'王五',age:48},
      ],
      cars:{
        name:'奥迪A8',
        price:'70w',
        color:'黑色',
      },
      str:'hello'
    },
    methods: {
      
    },
  })
</script>
</html>