<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <script type="text/javascript" src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
<!-- 
  绑定用户的信息+过滤
 -->
  <div id="root">
    <h2>人员列表</h2>
    <input type="text" v-model="keyWord" placeholder="请输入名字" >
    <ul>
      <li v-for="(p,index) in filPersons" :key="index">
        {{p.name}}--{{p.age}}--{{p.sex}}
      </li>
    </ul>
  </div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false //阻止 Vue 在启动时 生成生产提示

//   const vm = new Vue({
//     el: "#root",
//     data: {
//       keyWord:'',
//       persons:[
//         {id:'001',name:'马冬梅',age:20,sex:'女'},
//         {id:'002',name:'周冬雨',age:21,sex:'女'},
//         {id:'003',name:'周杰伦',age:22,sex:'男'},
//         {id:'004',name:'温兆伦',age:23,sex:'男'},
//       ],
//       filPersons:[],
//     },
// // 用watch实现
//     watch:{
//       keyWord:{
//         immediate:true,
//         handler(val){
//           this.filPersons = this.persons.filter((p) => {
//           return p.name.indexOf(val) !==-1
//         })
//         }
//       }
//     },
// })
    const vm = new Vue({
        el: "#root",
        data: {
          keyWord:'',
          persons:[
            {id:'001',name:'马冬梅',age:20,sex:'女'},
            {id:'002',name:'周冬雨',age:21,sex:'女'},
            {id:'003',name:'周杰伦',age:22,sex:'男'},
            {id:'004',name:'温兆伦',age:23,sex:'男'},
          ],
        },
    // 用computed实现
        computed:{
          filPersons() {
           return this.persons.filter((p) => {
            return p.name.indexOf(this.keyWord) !== -1
            }) 
          }
        }
    })
</script>
</html>