<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>模拟监测数据</title>
   <script type="text/javascript" src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
  <div id="root">
    <h1>学校信息</h1>
    <h2>学校名称：{{school.name}}</h2>
    <h2>学校地址：{{school.address}}</h2>
    <h2>校长是：{{school.leader}}</h2>
    <hr/>
    <h1>学生信息</h1>
    <button @click="addSex">添加一个性别属性,默认值是男</button>
    <h2>学生姓名：{{student.name}}</h2>
    <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
    <h2>学生年龄(真实):{{student.age.rAge}},对外 :{{student.age.sAge}} </h2>
    <h2>朋友们</h2>
    <ul>
      <li v-for="(f,index) in student.friends" :key="index">
        {{f.name}}--{{f.age}}
      </li>
    </ul>
  </div>
</body>
<script type="text/javascript">
  Vue.config.productionTip = false //阻止 Vue 在启动时 生成生产提示

    const vm = new Vue({
        el: "#root",
        data: {
          school:{
            name: '北京大学',
            address: '北京',
          },
          student: {
            name: 'bob',
            age: {
              rAge: 40,
              sAge: 29,
            },
            friends:[
              {name:'jerry',age:35},
              {name:'tony',age:36}
            ]
          }
        }, 
        methods: {
          addSex(){
            Vue.set(this.student,'sex','男')//还可通过Vue.set(vm._data.student,'sex','男')||vm.student.sex = '女' 来修改
            //vm._data.student = vm.student
            //this.$set(this.student,'sex','男')
          }
        },     
    })
</script>
</html>